body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-1000%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 40s linear infinite alternate;
}

.ombre
{
  box-shadow : 0px 3px 5px -1px rgba(255, 255, 255, 0.75);
}
.ombre:hover
{
  transition: 0.5s;
  box-shadow : 0px 6px 5px -1px rgba(255, 255, 255, 0.75);
}

.text-shadow
{
  text-shadow: 4px 4px 2px rgba(222,227,232,0.6);
}

.background1
{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1025%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(15%2c 23%2c 42%2c 1)'%3e%3c/rect%3e%3cpath d='M661.5 1233.68C892.99 1088.87 854.77 322.17 1184.1 274.63 1513.43 227.09 1445.4 409.63 1706.69 409.63 1967.99 409.63 2094.36 275.71 2229.29 274.63' stroke='rgba(6%2c 182%2c 212%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1098.06 1180.17C1251.33 1088.52 1096.62 629.41 1448.52 557.71 1800.42 486.01 1953.12 211.35 2149.45 201.31' stroke='rgba(6%2c 182%2c 212%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M52.2 1294.21C316.15 1280.35 469.08 835.67 992.59 811.02 1516.1 786.37 1673.35 379.11 1932.98 368.22' stroke='rgba(6%2c 182%2c 212%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M724.34 1127.57C961.38 1049.04 1030.58 360.5 1360.3 357.35 1690.02 354.2 1806.46 760.03 1996.26 778.55' stroke='rgba(6%2c 182%2c 212%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M296.44 1176.98C478.99 1158.33 592.83 767.79 904.66 766.07 1216.48 764.35 1208.76 901.07 1512.87 901.07 1816.98 901.07 1965.34 766.88 2121.09 766.07' stroke='rgba(6%2c 182%2c 212%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1025'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.background2
{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(15%2c 23%2c 42%2c 1)'%3e%3c/rect%3e%3cpath d='M1406.59-108.52C1170.85 36.89 1208.04 814.42 872.27 862.02 536.5 909.62 605.11 727.02 337.96 727.02 70.8 727.02-58.59 860.98-196.36 862.02' stroke='rgba(6%2c 182%2c 212%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M811.18-53.62C634.83 147.92 761.83 944.01 471.3 962.23 180.77 980.45-5.16 528.82-208.46 508.63' stroke='rgba(6%2c 182%2c 212%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1059.99-34.99C793.17 83.16 749.58 917.75 396.4 925.27 43.23 932.79-64.51 473.73-267.18 450.07' stroke='rgba(6%2c 182%2c 212%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M988.07-68.31C792.01 82.16 920.02 810.47 570.03 827.53 220.04 844.59-46.43 560.85-266.05 557.53' stroke='rgba(6%2c 182%2c 212%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1381.43-165.33C1154.59-138.28 1071.8 336.52 640.89 370.06 209.98 403.6 105.61 717.35-99.65 726.46' stroke='rgba(6%2c 182%2c 212%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;



/* Fond : bg-slate-900

Titre : text-slate-100

Texte secondaire : text-slate-400

Boutons primaires : bg-cyan-500 text-white

Boutons secondaires : bg-slate-800 border border-slate-700 text-slate-300 */